.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.loginHeader {
  background-color: #54C0FF;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 350px;
}